black==25.1.0
colorama==0.4.6
docformatter==1.7.5
isort==6.0.1
opencv-python==4.11.0.86
pandas==2.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
pygame==2.6.1
pylint==3.3.4
pytest==8.3.5
pytorch-lightning==2.5.0.post0
torchvision==0.21.0
tqdm==4.67.1
vulture==2.14
wandb==0.19.8
