colorama==0.4.6
docformatter==1.7.7
opencv-python==4.12.0.88
pandas==2.3.1
pycodestyle==2.14.0
pyflakes==3.4.0
pygame==2.6.1
pytest==8.4.1
ruff==0.12.7
pytorch-lightning==2.5.2
torchvision==0.23.0
tqdm==4.67.1
vulture==2.14
wandb==0.21.0
