colorama==0.4.6
docformatter==1.7.7
opencv-python==4.13.0.90
pandas==3.0.0
pycodestyle==2.14.0
pyflakes==3.4.0
pygame==2.6.1
pytest==9.0.2
ruff==0.14.13
pytorch-lightning==2.6.0
torchvision==0.24.1
tqdm==4.67.1
vulture==2.14
wandb==0.24.0
